
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/home.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Home</title>
    </head>

    <body>
        <h1>| IP Logger |</h1>
        <h1>|  CONSOLE  |</h1>


        
        <div>
            <ul id="list">
                <% for(let i; i < all.lenght; i++){%>
                    <li>
                        <p>FROM_URL => <span><%= all[i].FROM_URL %></span></p>    
                        <p>TO_URL =>   <span><%= all[i].TO_URL %>  </span></p>
                        <p>UUID =>     <span><%= all[i].UUID %>    </span></p>
                        <p>ENDTIME =>  <span><%= all[i].ENDTIME %> </span></p>
                        <a href=<%= /getByUIDD/ + all[i].UUID %>>GO</a>
                    </li>    
                <%}%>
            </ul>
        </div>

    </body>
</html>
